:root {
  --primary-color: #0065fc;
  --secondary-color: #deebff;
  --background-color: #f2f2f2;
}
* {
  box-sizing: border-box;
  font-family: "Railway", sans-serif;
}

* {
  outline: 1px solid red;
}

.wrapper {
  /* padding: 150%; */
  margin-left: 20px;
  margin-right: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
}
.nav-item {
  /* padding-left: 30px;
  padding-top: 15px; */
  padding: 15px;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: white;
}

.nav-item:visited {
  color: black;
}

.nav-item:link {
  text-decoration: none;
}

.nav-item:hover {
  color: var(--primary-color);
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: var(--primary-color);
}

/* .img-logo {
  width: 50%;
  height: auto;
} */

.filters {
  display: flex;
}

.info {
  display: flex;
}

.fa-solid.fa-info {
  display: flex;
  align-items: center;
  color: var(--primary-color);
}
.fa-regular.fa-circle {
  display: flex;
  align-items: center;
  color: var(--background-color);
  font-size: 30px;
  padding: 10px;
  margin-left: -28px;
}
