:root {
  --primary-color: #0065fc;
  --secondary-color: #deebff;
  --background-color: #f2f2f2;
}
* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

* p {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
}

.wrapper {
  margin-left: 3.5%;
  margin-right: 3.5%;
}

section {
  margin-bottom: 5%;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin-top: 45px;
  margin-bottom: 45px;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  margin-top: -45px;
}
.nav-item {
  padding: 33px;
  padding-top: 43px;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #0065fc00;
}

.logo-wrapper {
  width: 112px;
  margin-left: -15px;
  margin-top: -8px;
}

.img-logo {
  width: 100%;
  height: auto;
}

:visited {
  color: black;
}

:link {
  text-decoration: none;
  color: black;
}

.nav-item:hover {
  color: var(--primary-color);
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: var(--primary-color);
}

.search-bar {
  display: flex;
  width: 420px;
  height: 54px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-button {
  background-color: var(--primary-color);
  color: white;
  font-size: 19px;
  font-weight: 600;
  border-style: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 10px;
  width: 100px;
}

.search-input-field {
  border-color: var(--background-color);
  border-style: solid;
  padding-left: 13px;
  width: calc(100% - 155px);
  font-weight: 800;
  font-size: 18px;
}

.fa-location-dot {
  font-size: 18px;
  border: 2px solid var(--background-color);
  background-color: var(--background-color);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 55px;
  padding: 10px;
}

.filters-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.filter-button {
  display: flex;
  align-items: center;
  background-color: white;
  border-color: #d7d7d7;
  border-style: solid;
  border-width: 2px;
  border-radius: 50px;
  margin: 10px;
  padding: 14px;
  padding-right: 20px;
  padding-left: 50px;
  font-size: 18px;
  position: relative;
}

.filter-text {
  margin-left: 12px;
  font-weight: 800;
}

.fa-solid.fa-location-dot,
.fa-solid.filter-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-icon {
  border-style: none;
  background-color: var(--secondary-color);
  height: 53px;
  border-radius: 50%;
  width: 53px;
  color: var(--primary-color);
  position: absolute;
  top: -2px;
  left: -4px;
  right: 0;
  bottom: 0;
}

.filter-button:hover {
  background-color: var(--background-color);
  color: var(--primary-color);
}

.info-wrapper {
  display: flex;
  margin-top: 30px;
  margin-bottom: 15px;
  margin-left: 12px;
  width: 45%;
}

.info-icon-container {
  display: flex;
  align-items: flex-start;
}

.fa-info {
  margin-left: 1.5px;
  color: var(--primary-color);
}

.fa-regular.fa-circle {
  color: var(--background-color);
  font-size: 33px;
  margin-top: -8px;
  margin-left: -19.5px;
  margin-right: 10px;
}

.main {
  display: flex;
  flex-direction: row;
}
.section-wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  border-radius: 25px;
  padding: 40px;
}

.accommodations-main {
  flex-wrap: wrap;
  flex: 2;
  margin-right: 3%;
}

.accommodations-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 5%;
}

.most-popular-main {
  align-content: space-between;
  flex: 1;
}

.most-popular-card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card {
  display: flex;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.accommodation {
  flex-wrap: wrap;
  height: 210px;
  width: 30%;
  margin-bottom: 4%;
  font-size: 13px;
}

.accommodation img {
  height: 60%;
}

.accommodation img,
.activities img {
  width: 100%;
  border-top-right-radius: 20px;
}
.card img {
  object-fit: cover;
  padding: 2%;
  border-top-left-radius: 20px;
}

h4 {
  font-size: clamp(110%, 1.4vw, 130%);
  margin: 0;
}

h3 {
  font-weight: 800;
  font-size: 19px;
  margin-right: 2%;
}

h2 {
  margin: 0;
}

.header {
  margin-bottom: 20px;
}

.rating {
  color: var(--primary-color);
}

.hollow-rating ~ .fa-solid.fa-star {
  color: #d7d7d7;
}

.card:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.14);
  background-color: var(--background-color);
  color: var(--primary-color);
}

.accommodations-main > a {
  font-size: 20px;
  font-weight: 700;
}

.most-popular-main > h2 {
  display: flex;
  justify-content: space-between;
}

.most-popular {
  flex-wrap: wrap;
  flex-direction: column;
  height: 142px;
  width: 100%;
  padding: 0;
  font-size: 13px;
}

.most-popular p {
  margin-bottom: 12%;
}

.most-popular img {
  height: 100%;
  width: 40%;
  border-bottom-left-radius: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 1%;
  padding: 0%;
}

.img-top {
  justify-content: space-evenly;
  margin-top: -1%;
  margin-left: 6%;
  height: 40%;
  width: 100%;
}

.img-top p {
  margin-bottom: 1%;
}

.img-left {
  flex-wrap: wrap;
  height: 100%;
  width: 54%;
  justify-content: space-around;
  margin-left: 2%;
  margin-top: 3%;
  /* A possible solution for the text alignment :
  overflow: hidden;
  white-space: nowrap; */
}

.img-left > h4 {
  height: 30px;
}

.activities-container {
  display: inline;
  margin: 5px;
  padding: 8px;
}

.activities-container > h4 {
  font-size: clamp(90%, 1.2vw, 125%);
}

.activities-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  height: 500px;
}

.activities img {
  height: calc(100% - 50px);
}

.activities {
  flex-wrap: wrap;
  width: 22.5%;
}

.fullheight {
  height: 100%;
}

.fort-height {
  height: 52.38%;
}

.island-height {
  height: 38.09%;
}

.notredame-height {
  height: 42.85%;
}

.park-height {
  height: 47.62%;
}

footer {
  display: flex;
  background-color: var(--background-color);
  padding: 4%;
}

footer p {
  font-weight: 500;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 19%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

ul > li {
  margin-top: 15px;
}

ul > li:first-child {
  font-size: 18px;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 5px;
}

.nav-item > p {
  font-size: 17px;
  margin: 0;
  font-weight: 500;
}

header > p {
  margin-top: 8px;
}

::placeholder {
  font-weight: bold;
  color: black;
  font-size: 18px;
  font-weight: 800;
}

:focus-visible {
  outline: none;
  font-size: 18px;
  font-weight: 800;
}

.search-button-mobile {
  display: none;
}

.mobile-img {
  display: none;
}

.container > p {
  font-size: clamp(100%, 1vw, 115%);
}

@media (min-width: 769px) and (max-width: 991px) {
  .main {
    flex-direction: column-reverse;
  }

  .most-popular-main {
    margin-bottom: 3%;
  }

  .most-popular-card-wrapper {
    flex-direction: row;
  }

  .accommodations-main {
    margin: 0;
  }

  .most-popular {
    flex-wrap: nowrap;
    width: 31%;
    height: 262px;
  }

  .most-popular p {
    margin-bottom: 0;
  }

  .img-left {
    margin-top: -2px;
    margin-left: 14px;
    height: 40%;
    width: 90%;
  }
  .most-popular img {
    height: 60%;
    width: 100%;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
  }

  /* .img-left > h4 {
    height: 30px;
  } */
}

@media (max-width: 768px) {
  .container > p {
    font-size: clamp(115%, 1vw, 130%);
  }

  .wrapper {
    margin: 0;
  }

  nav {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 25px;
    height: auto;
    margin-bottom: 30px;
  }

  .logo-wrapper {
    margin: 0;
    margin-bottom: 30px;
  }

  nav > img {
    height: 50%;
    width: auto;
  }

  .nav-item {
    border-style: none;
    padding: 0;
    padding-bottom: 14px;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: #0065fc00;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .nav-item:hover {
    border-style: none;
    color: var(--primary-color);
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: var(--primary-color);
  }

  .nav-buttons {
    margin-top: 0;
    width: 100%;
    justify-content: center;
  }

  header {
    margin-left: 5%;
    margin-right: 5%;
  }

  .search-bar {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .search-button {
    display: none;
  }

  .search-button-mobile {
    display: inline;
    background-color: var(--primary-color);
    color: white;
    font-size: 19px;
    font-weight: 600;
    border-style: none;
    border-radius: 25%;
    padding: 10px;
    width: 55px;
    margin-left: -8px;
  }

  .search-input-field {
    width: calc(100% - 102px);
  }

  h3 {
    margin: 0;
    margin-bottom: 5px;
    margin-right: 66%;
  }

  h4 {
    font-size: 18px;
  }

  .filter-button {
    margin-left: 0;
    margin-right: 20px;
  }

  .filter-button:nth-child(3) {
    order: 2;
  }

  .filter-button:nth-child(4) {
    order: 1;
  }

  .filter-button:nth-child(5) {
    order: 3;
  }

  .info-wrapper {
    width: 97%;
    margin-bottom: 40px;
  }

  .main {
    flex-direction: column-reverse;
    margin: 0;
  }

  .section-wrapper {
    border-radius: 0;
  }

  .section-wrapper,
  .alt {
    padding: 5%;
  }

  .header {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .card {
    width: 100%;
    margin-bottom: 4%;
  }
  .most-popular {
    height: 154px;
  }

  .most-popular-card-wrapper {
    flex-direction: column;
  }

  .mobile-img {
    display: inline-block;
  }

  .desktop-img {
    display: none;
  }

  .accommodations-main.section-wrapper {
    background-color: white;
  }

  .accommodations-main > a {
    font-size: 21px;
    margin-top: 20px;
  }

  .accommodation {
    height: 255px;
  }

  .activities-wrapper {
    height: auto;
  }

  .activities {
    height: 255px;
  }

  .activities-container > h4 {
    font-size: 18px;
  }

  footer {
    flex-direction: column;
    padding: 5%;
    padding-top: 50px;
  }

  .footer-container {
    margin-bottom: 50px;
  }
}
